<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Your all-in-one destination for online tools and calculators. Making calculations and conversions easier for everyone.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/about-us.html">About</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li><a href="/copyright.html">CopyRight Notice</a></li>
                    <li><a href="/terms-of-service.html">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#" class="me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Multi-Tools Website. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 